/ProjectManager/.vs
/ProjectManager/packages
/ProjectManager/ProjectManager/obj
/ProjectManager/ProjectManager/bin/x64/Debug/ProjectManager.pdb
/ProjectManager/ProjectManager/bin/x64/Debug/ProjectManager.exe.config
/ProjectManager/ProjectManager/bin/x64/Debug/BinData
/ProjectManager/ProjectManager/bin/x64/Debug/UnitySetting.json
